main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "top_news news_1"
    "top_news news_2"
    "top_news news_3";
  padding: 10px;
}
.box {
  border: 2px gray solid;
  background-color: rgb(181, 180, 180);
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
}
.news_box {
  background-color: rgb(244, 238, 238);
  border: 2px gray solid;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}
.top_news {
  grid-area: top_news;
}
.top_news_img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.news_1 {
  grid-area: news_1;
}
.news_2 {
  grid-area: news_2;
}
.news_3 {
  grid-area: news_3;
}
.resource {
  color: rgb(247, 110, 110);
  font-size: 0.5em;
  font-weight: bold;
}
.author {
  font-size: 0.5em;
}
.sum {
  font-size: 0.8em;
}

article {
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: relative;
}
.summary_article{
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.small_img{
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
}

aside {
  background-color: lightgray;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}



section {
  background-color: lightpink;
  grid-area: section;
}
