*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(83, 83, 83);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 40px 40px auto auto auto 4vh;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "article article aside"
    "section section section"
    "footer footer footer";
}

footer{
    grid-area: footer;
    text-align: center;
    padding: 20px;
}
h4{
    color: rgb(138, 180, 248);;
}
.news_page_button{
  padding:10px;
  margin:10px;
  background-color: rgb(138, 180, 248);
  border-radius: 80px;
  border: 2px rgb(138, 180, 248) solid;
  min-width: 50px;

}